## content from makestuff
dump.txt
inc
*.tmp
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
Talks
ICI3D
708
tech
3SS
org
research
web
1M
admin
earn
cygu
Sandbox
shi
Workshops
makestuff
planning
git_push
outbreak
3SS_top
projects
Dropbox
MacpHac
legacy
coronavirus
DataViz
ici3d
rabies
park
staging
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
dump.txt
inc
*.tmp
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
3SS
research
ICI3D
708
web
Talks
tech
org
Workshops
shi
ici3d
admin
planning
staging
3SS_top
makestuff
rabies
projects
cygu
park
coronavirus
Sandbox
MacpHac
outbreak
DataViz
git_push
earn
Dropbox
legacy
1M
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
dump.txt
inc
*.tmp
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
3SS
research
ICI3D
708
web
Talks
tech
org
Workshops
shi
ici3d
admin
planning
staging
3SS_top
makestuff
rabies
projects
cygu
park
coronavirus
Sandbox
MacpHac
outbreak
DataViz
git_push
earn
Dropbox
legacy
1M
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
dump.txt
inc
*.tmp
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
3SS
research
ICI3D
708
web
Talks
tech
org
Workshops
shi
ici3d
admin
planning
staging
3SS_top
makestuff
rabies
projects
cygu
park
coronavirus
Sandbox
MacpHac
outbreak
DataViz
git_push
earn
Dropbox
legacy
1M
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
dump.txt
inc
*.tmp
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
3SS
research
ICI3D
708
web
Talks
tech
org
Workshops
shi
ici3d
admin
planning
staging
3SS_top
makestuff
rabies
projects
cygu
park
coronavirus
Sandbox
MacpHac
outbreak
DataViz
git_push
earn
Dropbox
legacy
1M
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
relstrength.pdf
relspeed.pdf
Rtbias.tex
rel*.png
makestuff
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.Rds
*.rds
Rplots.pdf
*.ggp.*
newvariant.pdf
relspeed.pdf
Rtbias.pdf
relstrength.pdf
newvariant.out
relspeed.out
Rtbias.out
relstrength.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
*.tex.*
*.subdeps
*.makedeps
*.deps.pdf
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
relstrength.pdf
relspeed.pdf
Rtbias.tex
rel*.png
makestuff
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.Rds
*.rds
Rplots.pdf
*.ggp.*
newvariant.pdf
Rtbias.pdf
control.pdf
newvariant.out
Rtbias.out
control.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
*.tex.*
*.subdeps
*.makedeps
*.deps.pdf
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
relstrength.pdf
relspeed.pdf
Rtbias.tex
rel*.png
makestuff
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.Rds
*.rds
Rplots.pdf
*.ggp.*
newvariant.pdf
Rtbias.pdf
control.pdf
newvariant.out
Rtbias.out
control.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
*.tex.*
*.subdeps
*.makedeps
*.deps.pdf
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
relstrength.pdf
relspeed.pdf
Rtbias.tex
rel*.png
makestuff
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.Rds
*.rds
Rplots.pdf
*.ggp.*
newvariant.pdf
Rtbias.pdf
control.pdf
newvariant.out
Rtbias.out
control.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
*.tex.*
*.subdeps
*.makedeps
*.deps.pdf
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
.Rproj.user
